In [1]:
import geopandas as gpd

import pandas as pd

import os

In [2]:
data_path = '../property-data/PhysicalRiskSheetPlan.xlsx'


prop_data = pd.read_excel(data_path, sheet_name='Data')   

# prop_data = prop_data[['Property ID', 'Property Name', 'Address', 'City', 'State', 'Zip', 'Latitude', 'Longitude', 'Risk Score', 'Risk Category']]

prop_data

,Collateral_ID,Property_Type,Registration_Number,Country,Periphery,City,Village,Sheet_Plan,Parcel
0,200756,House,0/16919,Cyprus,Nicosia,ΔΗΜΟΣ ΣΤΡΟΒΟΛΟΥ,ΔΗΜΟΣ ΣΤΡΟΒΟΛΟΥ,30/05W1,4424
1,200727,House,0/12752,Cyprus,Larnaca,ΒΟΡΟΚΛΙΝΗ,ΒΟΡΟΚΛΙΝΗ,0/2-260-373,501
2,201465,Land,0/4846,Cyprus,Nicosia,ΚΑΤΩ ΠΥΡΓΟΣ,ΚΑΤΩ ΠΥΡΓΟΣ,0/2-170-394,57
3,201034,Flat,0/26946,Cyprus,Limassol,ΔΗΜΟΣ ΥΨΩΝΑ,ΔΗΜΟΣ ΥΨΩΝΑ,53/55,3602
4,201731,House,0/29198,Cyprus,Paphos,ΔΗΜΟΣ ΠΑΦΟΥ,ΔΗΜΟΣ ΠΑΦΟΥ,0/2-146-349,649
...,...,...,...,...,...,...,...,...,...
788,201064,House,4/271,Cyprus,Limassol,ΔΗΜΟΣ ΥΨΩΝΑ,ΔΗΜΟΣ ΥΨΩΝΑ,0/2-196-338,192
789,200560,House,0/13459,Cyprus,Limassol,ΔΗΜΟΣ ΑΓΙΟΥ ΑΘΑΝΑΣΙΟΥ,ΔΗΜΟΣ ΑΓΙΟΥ ΑΘΑΝΑΣΙΟΥ,0/2-205-343,108
790,37999,House,6718,Cyprus,Larnaca,ΒΑΡΟΚΛΙΝΗ,ΒΟΡΟΚΛΙΝΗ,ΧLI/26,408
791,200755,Flat,3/508,Cyprus,Nicosia,ΔΗΜΟΣ ΣΤΡΟΒΟΛΟΥ,ΔΗΜΟΣ ΣΤΡΟΒΟΛΟΥ,21/1012V05,ΕΠΙ 400 & 460
792,200970,House,3/94,Cyprus,Limassol,ΔΗΜΟΣ ΥΨΩΝΑ,ΔΗΜΟΣ ΥΨΩΝΑ,0/2-195-337,52

In [70]:
sheets = []
plans = []
parcels = []
i=0
for index, data_ in prop_data.iterrows():
    sp_data  = data_['Sheet_Plan'].split('/')
    # print(sheet})

    filt_data = geo_data[
        (geo_data['PLANS'] == sp_data[1]) &
        (geo_data['SHEET'] == int(sp_data[0])) &
        (geo_data['PARCEL_NBR'].astype(str) == data_['Parcel'])
        ]

    if not filt_data['SBPI_ID_NO'].empty:
        print("OK")
    else:
        print(f"Sheet {sp_data[0]}, Plan {sp_data[1]}, Parcel {data_['Parcel']}")

    if i==20:
        break
    i+=1

OK
OK
OK
OK
Sheet 0, Plan 2-146-349, Parcel 649
OK
OK
OK
OK
OK
OK
OK
Sheet 45, Plan 42, Parcel ΕΠΙ 120
OK
OK
OK
Sheet 0, Plan 1-1490-3510, Parcel 478
OK
Sheet 45, Plan 6020V03, Parcel ΕΠΙ 114
OK
Sheet 51, Plan 38, Parcel ΕΠΙ 444

In [81]:
import pandas as pd
from tqdm import tqdm

# Initialize variables
not_found_data = pd.DataFrame(columns=prop_data.columns)

for index, data_ in tqdm(prop_data.iterrows(), total=len(prop_data)):
    # Handle different cases for 'Sheet_Plan'
    if isinstance(data_['Sheet_Plan'], str):
        sp_data = data_['Sheet_Plan'].split('/')
    else:
        # If not a string, treat it as a float/int with PLAN as the value and Sheet as 0
        sp_data = ['0', str(data_['Sheet_Plan'])]

    # Ensure sp_data has at least two elements; fill with '0' if not
    if len(sp_data) < 2:
        sp_data = ['0', '0']

    # Try to convert sp_data[0] to an integer, fallback to treating it as a string if it fails
    try:
        sheet_value = int(sp_data[0])
    except ValueError:
        sheet_value = sp_data[0]  # Treat as a string if it cannot be converted

    # Filter the geo_data based on conditions
    filt_data = geo_data[
        (geo_data['PLANS'] == sp_data[1]) &
        (geo_data['SHEET'] == sheet_value) &  # Match either as an int or string
        (geo_data['PARCEL_NBR'].astype(str) == str(data_['Parcel']))
    ]

    if not filt_data['SBPI_ID_NO'].empty:
        # Match found
        pass
    else:
        # Append the current row from prop_data to not_found_data
        not_found_data = pd.concat([not_found_data, pd.DataFrame([data_])], ignore_index=True)

# Save all rows with no matching filt_data to an Excel file
not_found_data.to_excel("not_found_data.xlsx", index=False, engine='openpyxl')
print(f"All rows from prop_data where no match was found saved to 'not_found_data.xlsx'")

100%|██████████| 793/793 [08:08<00:00,  1.62it/s]

All rows from prop_data where no match was found saved to 'not_found_data.xlsx'

In [28]:
sheets, plans, parcels

(['30'], ['05W1'], ['4424'])

In [54]:
float(parcels[0])

4424.0

In [60]:
filtered_data = 
filtered_data

,SBPI_ID_NO,DIST_CODE,VIL_CODE,QRTR_CODE,BLCK_CODE,SHEET,PLANS,SRC_SL_COD,PARCEL_NBR,SOURCE,SHAPE_STAr,SHAPE_STLe,SRC_CODE,DLS_PARCEL,x,y,area,geometry
1438576,13417836.0,1,12,4,7,30,05W1,4,4424,DCDB,734.313026,109.828627,4,734.0,33.3232,35.1319,734.37,"POLYGON ((229476.493 389095.891, 229461.309 38..."

In [3]:
geo_data = gpd.read_file('../GIS-LAYERS/dls_parcels/DLS_Parcels.shp')

geo_data.head(5)

,SBPI_ID_NO,DIST_CODE,VIL_CODE,QRTR_CODE,BLCK_CODE,SHEET,PLANS,SRC_SL_COD,PARCEL_NBR,SOURCE,SHAPE_STAr,SHAPE_STLe,SRC_CODE,DLS_PARCEL,x,y,area,geometry
0,74826.0,1,11,0,4,21,60E2,4,2681,DCDB,533.688950,92.643951,1,521.0,33.3083,35.1450,533.731,"POLYGON ((228110.368 390542.603, 228108.945 39..."
1,77931.0,1,11,0,4,21,60E2,4,4783,DCDB,294.159897,69.667298,1,277.0,33.3079,35.1451,294.183,"POLYGON ((228048.032 390539.326, 228048.094 39..."
2,76774.0,1,11,0,4,21,60E2,4,4293,DCDB,565.920998,97.476608,1,576.0,33.3074,35.1450,565.966,"POLYGON ((228025.132 390518.172, 228021.825 39..."
3,74829.0,1,11,0,4,21,60E2,4,2684,DCDB,519.310242,91.488400,1,530.0,33.3091,35.1450,519.351,"POLYGON ((228182.590 390539.314, 228181.111 39..."
4,74830.0,1,11,0,4,21,60E2,4,2685,DCDB,525.922028,92.063278,1,530.0,33.3093,35.1450,525.964,"POLYGON ((228203.517 390538.361, 228202.273 39..."

In [1]:
import pandas as pd

In [4]:
original_data = pd.read_excel('/home/savvas/SUPER-NAS/USERS/Chirag/PROJECTS/202501-EY-Bank/data/property-data/PhysicalRiskSheetPlan_v2.xlsx')
original_data_col_id = original_data["Collateral_ID"]

print(len(original_data_col_id))

original_data.head(2)

719

,Collateral_ID,Property_Type,Registration_Number,Country,Periphery,City,Village,Sheet_Plan,Parcel
0,200756,House,0/16919,Cyprus,Nicosia,ΔΗΜΟΣ ΣΤΡΟΒΟΛΟΥ,ΔΗΜΟΣ ΣΤΡΟΒΟΛΟΥ,30/05W1,4424
1,200727,House,0/12752,Cyprus,Larnaca,ΒΟΡΟΚΛΙΝΗ,ΒΟΡΟΚΛΙΝΗ,0/2-260-373,501

In [7]:
data_v1 = pd.read_excel('/home/savvas/SUPER-NAS/USERS/Chirag/PROJECTS/202501-EY-Bank/src/temp/output/PhysicalRiskSheetPlan_directmatch_riskscore.xlsx')
data_v1_col_id = data_v1["Collateral_ID"]

print(len(data_v1_col_id))

# print(len(set(data_v1_col_id)))

438
438

In [10]:
filter_data_col_id = list(set(original_data_col_id) - set(data_v1_col_id))
print(len(filter_data_col_id))

281

In [11]:
data_v2 = pd.read_excel('/home/savvas/SUPER-NAS/USERS/Chirag/PROJECTS/202501-EY-Bank/src/temp/output/PhysicalRiskSheetPlan_processedmatch_riskscore.xlsx')
data_v2_col_id = data_v2["Collateral_ID"]

print(len(data_v2_col_id))

291

In [12]:
filter_data_col_id_2 = list(set(filter_data_col_id) - set(data_v2_col_id))
print(len(filter_data_col_id_2))

10

In [13]:
filter_data_col_id_2

[202400, 69095, 83560, 37999, 38000, 38002, 113364, 86261, 108699, 201343]

In [31]:
postal_code  = pd.read_excel('/home/savvas/SUPER-NAS/USERS/Chirag/PROJECTS/202501-EY-Bank/data/GIS-LAYERS/postal_codes.xlsx')

postal_code.head(2)

,#,Ονομασία Δρόμου/Κοινότητας,Designation of Street/Community,Όριο Δρόμου ΑΠΟ - ΜΕΧΡΙ/Streetlimit FROM - TO,Ταχυδρομικός Κώδικας / Postal Code,Δήμος / Κοινότητα,Municipality / Community,Επαρχία,District,Ταχυδρομική Εξυπηρέτηση μέσω Ταχυδρομικού Γραφείου/Ταχυδρομικού Πρακτορείου,Postal Service through Post Office/Postal Agency,Description,Περιγραφή
0,205,14ης Σεπτεμβρίου,14 Septemvriou,NaN,4760,Όμοδος (το),Omodos,Λεμεσός,Lemesos,Ταχυδρομικό Πρακτορείο Ομόδους - 4760,Omodos Postal Agency - 4760,NaN,NaN
1,206,15ης Αυγούστου,15 Avgoustou,NaN,7501,Αβδελλερό,Avdellero,Λάρνακα,Larnaka,Ταχυδρομικό Πρακτορείο Αβδελλερού - 7501,Avdellero Postal Agency - 7501,NaN,NaN

In [32]:
unique_values = postal_code.drop_duplicates(subset=['Municipality / Community', 'Ταχυδρομικός Κώδικας / Postal Code'])

len(unique_values)

1129

In [35]:
unique_values.to_excel('/home/savvas/SUPER-NAS/USERS/Chirag/PROJECTS/202501-EY-Bank/data/GIS-LAYERS/postal_codes_v2.xlsx', index=False)

In [30]:
unique_values

        Municipality / Community  Ταχυδρομικός Κώδικας / Postal Code
0                         Omodos                                4760
1                      Avdellero                                7501
2               Egkomi Lefkosias                                2412
3                        Larnaka                                6018
4      Lefkosia (Pallouriotissa)                                1040
...                          ...                                 ...
32958                   Chelones                                5878
33031                    Choulou                                8552
33486                   Chrysida                                2730
33561                     Psathi                                8749
33629                  Psyllatos                                5661

[1129 rows x 2 columns]

750

1056

In [52]:
risk_data = pd.read_excel('/home/savvas/SUPER-NAS/USERS/Chirag/PROJECTS/202501-EY-Bank/src/temp/PhysicalRiskUniquePostalCodesAddresses_with_risk.xlsx')
len(risk_data)

original_post_data = pd.read_excel('/home/savvas/SUPER-NAS/USERS/Chirag/PROJECTS/202501-EY-Bank/data/property-data/PhysicalRiskUniquePostalCodesAddresses.xlsx')
len(original_post_data)

risk_data_postal_code = risk_data['Postal Codes:']
issue_post_code = list(set(original_post_data['Postal Codes:']) - set(risk_data_postal_code))

In [54]:
len(issue_post_code)

306

In [55]:
import pandas as pd

# Load the risk data and original postal data
risk_data = pd.read_excel('/home/savvas/SUPER-NAS/USERS/Chirag/PROJECTS/202501-EY-Bank/src/temp/PhysicalRiskUniquePostalCodesAddresses_with_risk.xlsx')
print(f"Length of risk_data: {len(risk_data)}")

original_post_data = pd.read_excel('/home/savvas/SUPER-NAS/USERS/Chirag/PROJECTS/202501-EY-Bank/data/property-data/PhysicalRiskUniquePostalCodesAddresses.xlsx')
print(f"Length of original_post_data: {len(original_post_data)}")

# Extract postal codes from both dataframes
risk_data_postal_code = risk_data['Postal Codes:']
issue_post_code = list(set(original_post_data['Postal Codes:']) - set(risk_data_postal_code))

# Filter the rows in the original data that correspond to the issue postal codes
issue_data = original_post_data[original_post_data['Postal Codes:'].isin(issue_post_code)]

# Save the issue data to an Excel file
output_filepath = '/home/savvas/SUPER-NAS/USERS/Chirag/PROJECTS/202501-EY-Bank/src/temp/IssuePostalCodes.xlsx'
issue_data.to_excel(output_filepath, index=False)
print(f"Issue data saved to {output_filepath}")

# Print summary
print(f"Number of issue postal codes: {len(issue_post_code)}")
print(f"Number of rows in issue data: {len(issue_data)}")

Length of risk_data: 750
Length of original_post_data: 1056
Issue data saved to /home/savvas/SUPER-NAS/USERS/Chirag/PROJECTS/202501-EY-Bank/src/temp/IssuePostalCodes.xlsx
Number of issue postal codes: 306
Number of rows in issue data: 306

In [ ]:
original_post_data['Postal Codes:']